UTF-16 no-BOM test cases should be changed to implementation-defined

Parsers should not be expected to detect UTF-16 in the absence of a BOM. A UTF-16 encoding of ASCII characters is valid UTF-8, and any parser that operates on a text stream (as opposed to a byte stream) is independent of encoding anyway. So they should be changed to implementation-defined.


That's what the common sense would say, but RFC 7159 section 8.1 it's not clear:

> JSON text SHALL be encoded in UTF-8, UTF-16, or UTF-32.

> Implementations that parse JSON texts MAY ignore the presence of a byte order mark rather than treating it as an error.

So, if the input is encoded in UTF-16, and parsers are not supposed to use the BOM, and if BOM is present parsers are free to ignore it, then they have to guess.

[RFC 4628](https://tools.ietf.org/html/rfc4627) section 3 recommends that parsers guess the encoding "by looking at the pattern of nulls in the first four octets".


I believe the rule against adding a BOM to the text is because BOMs are not supposed to be used for in-memory byte streams at all, they're supposed to be added when serializing UTF-16 streams to disk. When you have an in-memory byte stream, you're supposed to already know what encoding you expect it to be in. So you can use a JSON encoder to encode to UTF-16, then write it to disk with a BOM if you choose, so that way when you read it from disk later you can tell it's UTF-16, and if your JSON parser doesn't skip BOMs for you, you can then strip the BOM yourself before feeding back to the JSON parser in a manner it understands as UTF-16.

As for RFC 4628 section 3, that's not entirely accurate anymore. With RFC 7159, only the first character is guaranteed to be ASCII. That said, since JSON does not allow NULs in strings, it looks like you can still look at the first 4 bytes, though the pattern of nulls will be slightly different, it would be

    00 00 00 xx UTF-32BE
    xx 00 00 00 UTF-32LE
    00 xx ?? ?? UTF-16BE
    xx 00 ?? ?? UTF-16LE
    xx xx ?? ?? UTF-8

Given this, I'll probably go ahead and add this heuristic to PMJSON as well, though I still don't believe parsers should be required to do this detection, and so the no-BOM tests should be made into i_ tests.

Haha. I implemented heuristic detection. And now the test n_number_then_00.json is unexpectedly passing. And it's doing that because this file now looks like UTF-16LE, since it consists of the bytes `31 00`. So you should probably modify this test case to use a multi-digit number so it doesn't look like UTF-16.

Whether a JSON parser **has** to handle UTF-16 (and how) is one of the many things that are left to interpretation in RFC 7159.

My understanding is that "JSON text SHALL be encoded as UTF-8, UTF-16, or UTF-32" means that UTF-16 encoded JSON data **is** valid JSON, so a JSON validator **has** to handle UTF-16.

And because "Implementations MUST NOT add a byte order mark" then the validator has to guess.
